:root {

    /* color */
    --main-color: rgb(247, 241, 215);
    --notepad-color: rgb(252, 252, 252);
    --notepad-textarea-color: white;
    --interactive-color: #1C274C;
    --interactive-color-hover: hsl(226, 41%, 47%);
    --interactive-color-active: #001d7e;
    --shadow-color: #1c274c7c;
    --shadow-color-active: #1c33817c;

    --white-text:white;

    --popupShadow-color: rgba(0, 0, 0, 0.452);


    /* font-size */

    --font-size-notepad__textarea:18px;

    /* font-family */
    --main-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font-family);
}

body {
    background-color: var(--main-color);
}


.icon {
    padding: 2px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--interactive-color);
    transition: all 0.15s ease-in;
    border-radius: 8px;
}

.icon:hover {
    background-color: var(--interactive-color-hover);
}

.icon:active {
    background-color: var(--interactive-color-active);
}


header {
    display: block;
    height: 60px;
    padding: 0 auto;
    width: 100%;
    box-shadow: 2px 2px 2px 1px var(--shadow-color);
    z-index: 1;
}

.header__container {
    position: relative;
    display: flex;
    align-items: center;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    color: var(--interactive-color);
    text-transform: uppercase;
    cursor: pointer;
}

.iconBlock {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    gap: 8px;
}



.content {
    display: block;
    min-height: 100%;
}





.sidebar__container {
    position: fixed;
    display: none;
    z-index: 2;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--popupShadow-color);
}


.sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    background-color: var(--notepad-color);
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px 1px var(--shadow-color);
}



.notepad {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 75vh;
    width: 1200px;
    background-color: var(--notepad-color);
    margin: 64px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px 1px var(--shadow-color);
    padding: 24px;
}

.notepad__title {
    position: relative;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    color: var(--interactive-color);
}

.notepad__textarea {
    resize: none;
    width: 100%;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    background-color: var(--notepad-textarea-color);
    color: var(--interactive-color);
    font-size: var(--font-size-notepad__textarea);
    flex-grow: 1;
}

.notepad__textarea:focus {
    outline: none;
}

.notepad__buttons {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 8px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 4px;
}

.notepad__burgerMenu {
    display: none;
}

.notepad__save {
    display: inline-block;
}

form {
    width: 100%;
    min-height: 100%;
    flex-grow: 1;
    display: flex;
}


.blockNotes {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    width: 200px;
    left: -208px;
    top: 0;
    min-height: 75vh;
    max-height: 75vh;
    background-color: var(--notepad-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px 1px var(--shadow-color);
    padding: 12px;
}

.blockNotes__titles {
    display: flex;
    justify-content: space-between;
}

.blockNotes__titles button {
    background-color: var(--interactive-color);
    color: var(--white-text);
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.blockNotes__titles button:hover {
    background-color: var(--interactive-color-hover);
}

.blockNotes__titles button:active {
    background-color: var(--interactive-color-active);
}

.blockNotes__noteDelete {
    position: absolute;
    background-color: var(--interactive-color);
    color: var(--white-text);
    right: 2px;
    top:6px;
    height: 18px;
    width: 18px;
    border-radius: 8px;
    font-size: 12px;
    padding:2px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.15s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}


.blockNotes__search {
    padding: 4px 8px;
    font-size: 14px;
}

.blockNotes__container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 8px;
    padding: 4px 8px;
    border: 1px solid var(--shadow-color);
    border-radius: 8px;

}

.blockNotes__note {
    position: relative;
    cursor: pointer;
    user-select: none;
    padding: 4px 2px;
    transition: all 0.15s ease-in;
    color: var(--interactive-color);
}

.blockNotes__note:hover {
    background-color: var(--shadow-color);
}

.blockNotes__note:active {
    background-color: var(--shadow-color-active);
}

.blockNotes__btnAddNote{
    display: block;
    margin: 8px auto 0 auto;
}





footer {
    color: var(--interactive-color);
    position: absolute;
    display: block;
    bottom: 8px;
    right: 0;
    left: 0;
    text-align: center;
    text-transform: uppercase;
}


.popupContainer {
    position: fixed;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 3;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--popupShadow-color);
    padding: 40px;
}

.popup {
    position: relative;
    display: block;
    min-width: 440px;
    min-height: 440px;
    background-color: var(--notepad-color);
    border: 2px solid var(--shadow-color);
    border-radius: 8px;
    padding: 20px;
}

.popupSmall {
    max-width: 300px;
    max-height: 200px;
    min-width: 300px;
    min-height: 200px;
}
.popupCentral {
    display:flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.popupContent {
    display: none;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    color:var(--interactive-color);
}

.popupContent h2 {
    color:var(--interactive-color);
    text-align: center;
}
.popupContent h3 {
    color:var(--interactive-color);
    text-align: center;
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 8px;
}

.popupContent p {
    font-size: 16px;
    text-align: justify;
    margin: 4px;
}

.popupMessage{
    width: 100%;
    min-height: 100%;
}

.popupMessage_block{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popupMessage__message{
    color: var(--interactive-color);
    font-size: 18px;
    text-transform: uppercase;
    text-align: center !important;
}


.closePopup {
    position: absolute;
    text-transform: uppercase;
    color: var(--white-text);
    font-size: 18px;
    right: -16px;
    top: -16px;
    z-index: 4;
}

.popupLogin {
    flex-direction: column;
    gap: 4px;
}
.popupLogin .textExit{
    color: var(--interactive-color);
    text-align: center;
}
.popupLogin__answers{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}
.popupLogin .answer{
    min-width: 100px;
    padding: 4px 8px;
    color: var(--white-text);
    font-size: 14px;
}
.popupDelete .textExit{
    color: var(--interactive-color);
    text-align: center;
}
.popupDelete__answers{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}
.popupDelete .answer{
    min-width: 100px;
    padding: 4px 8px;
    color: var(--white-text);
    font-size: 14px;
}

.popupInfo__username{
    margin-bottom: 18px !important;
}

.popupAddNote h3{
    text-align: center;
    margin: 4px 0;
}

.fieldForm{
    display: flex;
    flex-direction: column;
    gap:4px;
    margin-top:4px;
    margin-bottom:8px;
}


.formAddNewNote {
    margin: 8px 0;
    display: flex;
    flex-direction: column;
    align-items: start;  
    gap: 4px;
}

/* .formAddNewNote__blockBtn{
    display: block;
} */

.formAddNewNote input{
   
    padding:4px 8px;
    font-size: 14px;
    width: 100%;
}

.formAddNewNote__btn{
    padding: 2px;
    width: 100px;
    height: 32px;
    cursor: pointer;
    background-color: var(--interactive-color);
    transition: all 0.15s ease-in;
    border-radius: 8px;
    color:var(--white-text);
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin-top: 8px;
    display: inline-block;
}

.titleNewNote__error{
    display: none;
    color:red;
    margin-top: 8px !important;
}

.settings__theme {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    appearance: none;
    height: 1em;
    width: 2em;
    border-radius: 1em;
    box-shadow: inset -1em 0px 0px 0px rgba(192, 192, 192, 1);
    background-color: var(--white-text);
    border: 1px solid rgba(192, 192, 192, 1);
    outline: none;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.settings__theme:checked {
    box-shadow: inset 1em 0px 0px 0px rgba(33, 150, 243, 0.5);
    border: 1px solid rgba(33, 150, 243, 1);
}

.settings__theme:focus {
    outline-width: 0;
}

.settings__blockFontSize{
    display: flex;
    justify-content: space-around;
}

.settings__fontSize{
    background-color: var(--interactive-color);
    color: var(--white-text);
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.settings__fontSize:hover {
    background-color: var(--interactive-color-hover);
}

.settings__fontSize:active {
    background-color: var(--interactive-color-active);
}


@media (max-width:1700px) {
    .header__container {
        width: 1000px;
    }

    .notepad {
        width: 1000px;
        margin: 40px auto;
    }
}

@media (max-width:1500px) {
    .header__container {
        width: 800px;
    }

    .notepad {
        width: 800px;
    }
}

@media (max-width:1300px) {
    .header__container {
        width: 600px;
    }

    .notepad {
        width: 600px;
        margin: 24px auto;
    }
}



@media (max-width:1100px) {
    .content {
        padding: 0 40px;
    }

    .header__container {
        width: 100%;
        height: 100%;
        padding: 0 40px;
    }

    .iconBlock {
        right: 40px;
    }

    .notepad {
        width: 100%;
        padding: 12px;
        gap: 12px;
    }

    .blockNotes {
        display: none;
    }

    .notepad__burgerMenu {
        display: inline-block;
    }
}


@media (max-width:768px) {
    .content {
        padding: 0 20px;
    }

    .header__container {
        padding: 0 20px;
    }

    .iconBlock {
        right: 20px;
    }

    .notepad__title {
        font-size: 24px;
    }

    .notepad__textarea {
        font-size: 16px;
        padding: 4px 8px;
    }

    .sidebar {
        width: 240px;
        gap: 8px;
    }

    .popup {
        width: 100%;
        height: 100%;
        min-width: 0;
        min-height: 0;
        padding: 12px;
    }

    .popupContainer {
        padding: 32px;
    }
}



@media (max-width:420px) {
    .content {
        padding: 0 8px;
    }

    .header__container {
        padding: 0 8px;
    }

    .logo {
        width: 100px;
        line-height: 24px;
    }

    .iconBlock {
        right: 8px;
    }

    .notepad {
        margin: 12px auto;
    }

    .notepad__title {
        font-size: 18px;
        text-align: right;
    }

    .sidebar {
        width: 240px;
        gap: 4px;
    }

    .popup {
        padding: 8px;
    }

    .popupContainer {
        padding: 24px;
    }

    .popupLogin .answer{
        min-width: 64px;

    }
}